/* CSS */
/* Global */
*:focus, *:after {
    outline: 0 !important;
}

img {
    max-width: 100%;
    height: auto;
}


body, html {
    width: 100%;
    height:100%;
    margin-top:20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    margin: 5px 0 5px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
h4 {
    font-size: 12px;
    letter-spacing: 1px;
}
h5 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}
h6 {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}


p {
    line-height: 150%;
}

a {
    color:#d9534f;
    text-decoration:none;
}

a:hover,
a:after,
a:focus, {
    color:#9f2623 !important;
    text-decoration:none;
    -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}



/* Reset Box Shadow */
.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
}



input, 
textarea {
      border-radius:5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
   }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Divisions */



.supplement {
     color:#555;
     background:#EAEAEA;
     padding-bottom:40px;
}
.supplement .page-header {
     border-bottom:1px solid #333;
}

.light {
    background: #fcfaf2;
    font-color:#333;
}


.dark {
     color:#E9E9EB;
     background:#2A2C39;
     padding-bottom:30px;
}
.dark input.field{
     color:#2A2C39;

}
.dark small {
     color:#ceced3;
}
.dark .field,
.dark textarea {
    background: #E9E9EB;
    color: #2A2C39;
}


/* Navigation */
#nav, 
#nav a,
#nav .dropdown-menu {
    background: #2A2C39;
    color: #E9E9EB;
}
.navbar-nav>.open>a:hover,
.navbar-nav>.open>a:focus
{
    background: #1f212a !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background:#2A2C39;
}
#nav a:hover {
    color: #ceced3;
}
#navbar-brand {
    color:#337ab7;
}
#nav input {
    background: #E9E9EB;
    color: #2A2C39;
}
#nav button {
    background: #E9E9EB;
    color: #2A2C39;
}
#nav button:hover {
    background: #ceced3;
    color: #2A2C39;
}

/* Custome File Upload CSS*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style-1 textarea,
.form-style-1 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    
}

/* Info Modal Styles*/

.info-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.info-modal .modal-content h2 {
    color:#fff;
    margin: 0;
    font-size: 3em;
}

.info-modal .modal-content img {
    margin-bottom: 30px;
}

.info-modal .modal-content .item-details {
    margin: 30px 0;
}

.info-modal .close-modal {
    position: absolute;
    color: #fff !important;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.info-modal .close-modal:hover {
    opacity: .3;
}

.info-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.info-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


/* Elements */

.title {
	text-align:center;
	padding-bottom:30px;
}

.uploadContent {
	padding-bottom: 5%;
}

textarea:focus, input:focus{
    outline: 0;
}
.request a {
	padding:8px;
	border-radius:5px;
	background-color:white;
	color:#930123;
	text-decoration:none;
}
.request a:hover {
	background-color:#600117;
	color:white;
	text-decoration:none;
	 -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}

button {
    background-color:#930123;
    text-decoration:none;
	color:#ffffff;
}
button:hover {
	color:#ffffff;
	background-color:#600117;
	text-decoration:none;
	-webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}

.DMblock-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 0px auto;
}
.red {
    color:#d9534f;
}

/* Footer */
footer {
    font-size:110%;
    padding: 20px;
}
