/* CSS */



/* Global */
*:focus {
    outline: 0;
}
body, html {
    width: 100%;
    margin-top:50px;
    font: 95% Arial, Helvetica, sans-serif;
    background-color:white;
}
h1,h2,h3,h4,h5,h6 {
	 color:#337ab7;
}
body {
	margin:0;
	padding:0;
	height:100%;
}
a {
	text-decoration:none;
}
#navbar-brand {
    color:#337ab7;
}

a:hover {
	text-decoration:none;
	-webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}
p {
    line-height: 150%;
}
#wrapper {
	min-height:100%;
}
/* Custome File Upload CSS*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style-1 textarea,
.form-style-1 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    
}

.form-style-1 textarea:focus,
.form-style-1 select:focus
{
    box-shadow: 0 0 5px #337ab7;
    padding: 3%;
    border: 1px solid #337ab7;
}



/* Elements */



.title {
	text-align:center;
	padding-bottom:30px;
}

.uploadContent {
	padding-bottom: 5%;
}
input {
	min-width:100px;
}
textarea:focus, input:focus{
    outline: 0;
}
.request a {
	padding:8px;
	border-radius:5px;
	background-color:white;
	color:#930123;
	text-decoration:none;
}
.request a:hover {
	background-color:#600117;
	color:white;
	text-decoration:none;
	 -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}

button {
	color:#ffffff;
	background-color:#930123;
	text-decoration:none;
}
button:hover {
	color:#ffffff;
	background-color:#600117;
	text-decoration:none;
	-webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}

.DMblock-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

/* Footer */
footer {
	margin-top:50px;
    margin-bottom:100px;
	width:100%;
	height:80px;
}
